//
//atoms
//

//colors
//

$color-alpha:					#800080;
$color-beta:					#403947;
$color-gamma:					#fff;

//typography
//

$h1-font-size:					35px;
$h2-font-size:					50px;
$h6-font-size:					18px;
$p-font-size:					14px;
$btn-font-size:					14px;
$link-font-size:				14px;
$input-font-size:				14px;

//buttons
//

$btn-alpha-border:				1.3px solid $color-alpha;
$btn-alpha-hover-border:		1.3px solid $color-alpha;

$btn-beta-border:				1.3px solid $color-alpha;
$btn-beta-hover-border:			1.3px solid $color-alpha;





